{
  "semi": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindEntryPoint": "./apps/web/src/app/globals.css",
  "tailwindFunctions": ["cn", "cva", "clsx", "twMerge"]
}
